@model SistemaChamados.Models.ChamadosViewModel

@{
    ViewData["Title"] = "Cadastrar Novo Chamado";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Criar" method="post">


    <div class="form-group">
        <label asp-for="dataAbertura" class="control-label">Data de Abertura</label>
        <input asp-for="dataAbertura" class="form-control" type="datetime-local" />
        <span asp-validation-for="dataAbertura" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="descricaoProblema" class="control-label">Descrição do Problema</label>
        <textarea asp-for="descricaoProblema" class="form-control" rows="4"></textarea>
        <span asp-validation-for="descricaoProblema" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="descricaoAtendimento" class="control-label">Descrição do Atendimento</label>
        <textarea asp-for="descricaoAtendimento" class="form-control" rows="4"></textarea>
        <span asp-validation-for="descricaoAtendimento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="dataAtendimento" class="control-label">Data de Atendimento</label>
        <input asp-for="dataAtendimento" class="form-control" type="datetime-local" />
        <span asp-validation-for="dataAtendimento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="situacao" class="control-label">Situação</label>
        <select asp-for="situacao" class="form-control">
            <option value="">Selecione...</option>
            <option value="1">PENDENTE</option>
            <option value="2">ATENDIDO</option>
        </select>
        <span asp-validation-for="situacao" class="text-danger"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.usuarioId, "Usuário")
        @Html.DropDownListFor(m => m.usuarioId, Model.Usuarios, "Selecione um Usuário", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.usuarioId)
    </div>


    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a href="@Url.Action("Index", "Chamados")" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
